outcasts
*.pdf

# Week 34
!week34/notes.pdf
!week34/presentation.pdf


# Week 35
!week35/notes.pdf
!week35/presentation.pdf

# Week 36
!week36/notes.pdf
!week36/presentation.pdf

# Week 37
!week37/notes.pdf
!week37/presentation.pdf

# Week 38
!week38/notes.pdf
!week38/presentation.pdf

# Week 39
!week39/notes.pdf
!week39/presentation.pdf

# Week 40
!week40/notes.pdf
!week40/presentation.pdf

